<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>UL Confessions</title>
		<link
				href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
				rel="stylesheet" />
		<link rel="stylesheet" href="/static/style.css
			   " />
	</head>

	<body>
		<header>
			<img src="/static/images/confessions-with-anthony-gormley.png" class="banner"/> 

		</header>
		<ul>
			<li><a href="/" class="">Home</a>
				<li><strong><a href="/submit" class="SUB">Submit New Confession</a> </strong>
			<li><a href="/about" class="">About</a>
		</ul>
		<script src=/static/expand.js> </script>


