{% include 'header.html' %}
{% for post in posts %}

<div class="card">
	{% if post[3] %}
	<img style="width: 92px; height: 65px"src="/static/images/uploads/{{ post[3] }}"/> 
	{% else %}
	<img src="/static/images/anthony-gormley-cropped.webp" style=""/> 
	{% endif %}
		<div class="posttitle" style="padding-left: 120px;">
			<h2 style="margin-top: 0px;"> {{ post[1] }} </h2>  
		{{ post[2] }}
			<br>
			<button onclick="window.location.href='/post/{{ post[0] }}'">
				{% if post[4] == 1 %}
				{{ post[4] }} Reply
				{% elif post[4] == 0 %}
				Reply
				{% else %}
				{{ post[4] }} Replies
				{% endif %}
			</button>
		</div>
</div>
{% endfor %}
<div class="cardbot" style="margin-top: 0px;">
	{%if back_button %}
	{%if next_page == 40 %}
	<button class="button" onclick="window.location.href='/'" > Previous Page </button>
	{% else %}
	<button class="button" style="margin: auto;" onclick="window.location.href='/page/{{ previous_page }}'" > Previous Page </button>
	{% endif %}
	{% endif %}
	<button class="button" onclick="window.location.href='/page/{{ next_page }}'" > Next Page </button>
</div>
{% include 'footer.html' %}
