{% include 'header.html' %}
{% for post in posts %}

<div class="card">
	{% if post[3] %}
	<a href="/static/images/uploads/{{ post[3] }}">
	<img style="width: 92px; height: 65px"src="/static/images/uploads/{{ post[3] }}"/> 
	</a>
	{% else %}
	<img src="/static/images/anthony-gormley-cropped.webp" style=""/> 
	{% endif %}
		<div class="posttitle" style="">
			<h2 style="margin-top: 0px; margin-bottom: 0px"> {{ post[1]|truncate(140) }} </h2>  
			{% if post[4] %}
			{% if now - post[4] < 60 %}
			<div class="time" stlye="margin-top: 0px;"> Submitted: just now</div> <br>
			{% elif now - post[4] < 120 %}
			<div class="time" stlye="margin-top: 0px;"> Submitted: {{ ((now - post[4]) / 60)|int }} minute ago
			{% elif now - post[4] < 3600 %}
			<div class="time" stlye="margin-top: 0px;"> Submitted: {{ ((now - post[4]) / 60)|int }} minutes ago
			{% elif now - post[4] < 7200 %}
			<div class="time" stlye="margin-top: 0px;"> Submitted: {{ ((now - post[4]) / 60 / 60)|int }} hour ago
			{% elif now - post[4] < 86400 %}
			<div class="time" stlye="margin-top: 0px;"> Submitted: {{ ((now - post[4]) / 60 / 60)|int }} hours ago
			{% else %}
			<div class="time" stlye="margin-top: 0px;"> Submitted: {{ stamp }} 
			{% endif %}
			{% endif %}
			{%if post[3] %}
			<a class="replybutton" style="cursor: pointer;" href="/static/images/uploads/{{ post[3] }}"><b>Expand Image</b></a> 
			{% endif %}
			</div> <br>
		{%if post[2]|length > 500 %}
		{{ post[2]|truncate(500) }}
	<div style="margin-top: 10px;margin-bottom: 10px; display: inline">
		<b>	<a class="replybutton" style="cursor: pointer; padding: 0px;" onclick="location.href = '/post/{{ post[0] }}'">Show More</a> </b>
	</div>
		{% else %}
		{{ post[2] }}
		{% endif %}
			<br>
			<button onclick="window.location.href='/post/{{ post[0] }}'">
				{% if post[6] == 1 %}
				{{ post[6] }} Reply
				{% elif post[6] == 0 %}
				Reply
				{% else %}
				{{ post[6] }} Replies
				{% endif %}
			</button>
			{% if post[5] %}
			<button onclick="window.location.href='/post/{{ post[0] }}'">
				Show Poll
			</button>
			{% endif %}
		</div>
</div>
{% endfor %}
<div class="cardbot" style="margin-top: 0px;">
	{%if back_button %}
	{%if next_page == 40 %}
	<button class="button" onclick="window.location.href='/'" > Previous Page </button>
	{% else %}
	<button class="button" style="margin: auto;" onclick="window.location.href='/page/{{ previous_page }}'" > Previous Page </button>
	{% endif %}
	{% endif %}
	<button class="button" onclick="window.location.href='/page/{{ next_page }}'" > Next Page </button>
</div>
{% include 'footer.html' %}
