{% include 'header.html' %}

<div class="card">
		<img src="/static/images/anthony-gormley-cropped.webp"/> 
		<div class="posttitle" style="padding-left: 120px;">
		<h2 style="margin-top: 0px;margin-bottom: 0px"> Title of Confession </h2>  
		<div class="time"> Submitted: 1 hour ago</div>
		<br>
			    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			<br>
		</div>
</div>

<div class="card">
	<h3 style="margin-top: 0px;"> Replies </h3>
	<form method="POST">
	<textarea cols="42" rows ="10" name="text"></textarea>
	<br>
		<input class="button" type="submit" , value="Reply" style=""> 
</div>
<div class="card">
	<div class="comment">
	<div class="time"> 1 minute ago </div>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	<br>
	<div style="margin-left:20px; border-left: 4px solid #979798;">
		<br>
	<div style="margin-left: 10px; margin-top: 0px;">
	Very interesting.
	</div>
	<br>
	</div>
	</div>
	
</div>
</div>
{% include 'footer.html' %}
