{% include 'header.html' %}

<div class="card">
	{%if post[3] %}
	<img style="width: 92px; height: 65px" src="/static/images/uploads/{{ post[3] }}" />
	{% else %}
<img src="/static/images/anthony-gormley-cropped.webp"/> 
        {% endif %}
	<div class="posttitle" style="padding-left: 120px;">
		<h2 style="margin-top: 0px;margin-bottom: 0px"> {{ post[1] }} </h2>  
		<div class="time"> Submitted: 1 hour ago 
		</div>
		<br>
		{{ post[2] }}
		<br>
			{%if post[3] %}
	<div style="margin-top: 10px;margin-bottom: 10px">
			<a class="replybutton" style="cursor: pointer;" href="/static/images/uploads/{{ post[3] }}"><b>Expand Image</b></a>
	</div>
			{% endif %}
	</div>
</div>

<div class="card">
	<h3 style="margin-top: 0px;"> Replies </h3>
	<form method="POST", action="/reply">
		<textarea cols="32" rows ="10" name="text"></textarea>
		<br>
		<input name="post_id" type="hidden", value="{{ post[0] }}"> 
		<input class="button" type="submit" , value="Reply" style=""> 
	</form>
</div>
{% for reply in replies %}
<div class="card">
	<div class="comment">
		<div class="time"> 1 minute ago </div>
		{{ reply[2] }}
	</div>
	<div style="margin-top: 10px;margin-bottom: 10px">
		<b>	<a class="replybutton" style="cursor: pointer; padding: 0px;" onclick="expand()">Reply to Comment</a> </b>
	</div>
	<form method="POST" id="reply-box" style="display: none;" action="/reply-to-comment">
		<textarea cols="32" rows ="10" name="text" style="font-family: inherit;"></textarea>
		<br>
		<input name="reply_id" type="hidden" style="margin-bottom: 10px;" , value="{{ reply[0] }}" style=""> 
		<input name="post_id" type="hidden" style="margin-bottom: 10px;" , value="{{ post[0] }}" style=""> 
		<input class="button" type="submit" style="margin-bottom: 10px;" , value="Reply" style=""> 
	</form>

	{% for reply_to_replies in replies_to_replies if reply_to_replies[2] == reply[0]%}
	<div style="margin-left:20px; border-left: 4px solid #979798;">
		<br>
		<div style="margin-left: 10px; margin-top: 0px;">
			{{ reply_to_replies[3] }}
		</div>
		<br>
	</div>
	{% endfor %}


</div>
{% endfor %}
{% include 'footer.html' %}
